
@{
    Layout = null;
    ViewBag.Title = "RegistrarSolicitud";
}


<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Trámite Documentario</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Luego Moment.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <!-- Luego cargar DataTables -->
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <!-- DataTables CSS (opcional, pero recomendado para el diseño) -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">

    <!-- SweetAlert CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <!-- SweetAlert JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>

    <!-- Bootstrap Bundle JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Incluye Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- Select2 CSS -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

<!-- Select2 JS -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>
<body>
    <style>
        .dataTables_filter {
            display: none;
        }

        .bg-primary-dark {
            background-color: #1d3872; /* Un azul más oscuro */
        }

        .btn-primary-dark {
            background-color: #1d3872; /* Un azul más oscuro */
            color: white; /* Color de la letra */
            border-color: #1d3872; /* Color del borde */
        }

        .nav-link-custom {
            background-color: #1d3872; /* Fondo azul oscuro */
            color: white; /* Letra blanca */
        }

        .icon-button {
            border: none;
            background: none;
            cursor: pointer;
            font-size: 24px;
            color: #007bff;
        }

            .icon-button:hover {
                color: #0056b3;
            }
        .file-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 10px;
        margin-bottom: 5px;
        border: 1px solid #ddd;
        border-radius: 4px;
        background-color: #f9f9f9;
    }

    .file-item button {
        margin-left: 10px;
    }            
    </style>

    <div class="container mt-4">
        <div class="card">
            <div class="card-header bg-primary-dark text-white d-flex align-items-center justify-content-between">
                <div class="d-flex flex-column align-items-center">
                    <div class="d-flex align-items-center">
                        <a href="/Solicitudes/Inicio" class="me-3">
                            <i class="bi bi-house-door" style="cursor: pointer; font-size: 1.5rem; color: white;"></i>
                        </a>
                        <span class="fw-bold">Sistema de trámite documentario-Nuevo Expediente</span>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form id="solicitudForm" enctype="multipart/form-data">
                    <div class="row g-3">
                        <!-- Primera columna -->
                        <div class="col-md-5 me-0.5">
                            <div class="row g-3">
                                <div class="col-md-12">
                                    <label for="nroDocumento" class="form-label">Nro Documento:</label>
                                    <input type="text" class="form-control" id="nroDocumento" placeholder="Ingrese el nro de documento">
                                    <div id="nroDocumentoError" class="text-danger" style="display: none;">El número de documento ya está registrado.</div>
                                </div>
                                <div class="col-md-12">
                                    <label for="asunto" class="form-label">Asunto:</label>
                                    <input type="text" class="form-control" id="asunto" placeholder="Ingrese el asunto del documento">
                                </div>
                                <div class="col-md-12">
                                    <label for="referencia" class="form-label">Referencia:</label>
                                    <textarea class="form-control" id="referencia" rows="3" placeholder="Ingrese la referencia del documento"></textarea>
                                </div>
                                <div class="col-md-12">
                                    <div class="row g-0">
                                        <div class="col-md-6">
                                            <label for="empresa" class="form-label">Empresa:</label>
                                            <select class="form-select" id="empresa" name="empresa">
                                                <option selected></option>
                                                @foreach (var empresa in ViewBag.Empresas)
                                                {
                                                    <option value="@empresa.EmpresaId">@empresa.EmpresaNombre</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="tipoDoc" class="form-label">Tipo documento:</label>
                                            <select class="form-select" id="tipoDoc">
                                                <option selected></option>
                                                @foreach (var tipoDocumento in ViewBag.TipoDocumentos)
                                                {
                                                    <option value="@tipoDocumento.TipoDocumentoId">@tipoDocumento.TipoDocumentoNombre</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row g-0">
                                        <div class="col-md-6">
                                            <label for="formato" class="form-label">Formato:</label>
                                            <select class="form-select" id="formato">
                                                <option selected></option>
                                                @foreach (var formato in ViewBag.Formatos)
                                                {
                                                    <option value="@formato.FormatoId">@formato.FormatoNombre</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="institucion" class="form-label">Institucion:</label>
                                            <select class="form-select" id="institucion">
                                                <option selected></option>
                                                @foreach (var institucion in ViewBag.Instituciones)
                                                {
                                                    <option value="@institucion.InstitucionId">@institucion.InstitucionNombre</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row g-0">
                                        <div class="col-md-6">
                                            <label for="proyecto" class="form-label">Proyecto:</label>
                                            <select class="form-select" id="proyecto">
                                                <option selected></option>
                                                @foreach (var proyecto in ViewBag.Proyectos)
                                                {
                                                    <option value="@proyecto.ProyectoId">@proyecto.ProyectoNombre</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="plazo" class="form-label">Plazo atencion(en dias):</label>
                                            <input type="text" class="form-control" id="plazo" placeholder="Ingrese el plazo">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row g-0">
                                        <div class="col-md-6">
                                            <label for="penalidad" class="form-label">Penalidad:</label>
                                            <input type="text" class="form-control" id="penalidad" placeholder="Ingrese la penalidad">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1 d-flex justify-content-center">
                            <div style="border-left: 4px solid #1d3872 ; height: 100%; ">
                            </div>
                        </div>
                        <!-- Segunda columna -->
                        <div class="col-md-6">
                            <div class="row g-3">
                                <div class="col-md-3">
                                    <label for="fechaEmision" class="form-label">Fecha emisión:</label>
                                    <input type="date" class="form-control" id="fechaEmision">
                                </div>
                                <div class="col-md-3">
                                    <label for="fechaRecepcion" class="form-label">Fecha recepción:</label>
                                    <input type="date" class="form-control" id="fechaRecepcion">
                                </div>
                                <div class="col-md-3">
                                    <label for="fVenInterno" class="form-label">F. Ven. Interno:</label>
                                    <input type="date" class="form-control" id="fVenInterno">
                                </div>
                                <div class="col-md-3">
                                    <label for="fVenExterno" class="form-label">F. Ven. Externo:</label>
                                    <input type="date" class="form-control" id="fVenExterno">
                                </div>
                                <div class="col-md-12" style="height: 20px;">
                                    <label for="referencia" class="form-label"> Documentos adjuntos:</label>
                                </div>
                                <div class="mb-3 border rounded p-3" style="background-color: white; height: 140px; overflow-y: auto;">
                                    <div class="file-upload mb-3">
                                        <span id="file-status" class="small">There is nothing attached.</span>
                                        <input type="file" id="file-input" name="Archivos" style="display: none;" multiple>
                                        <div>
                                            <a class="attach-file small" id="attach-file" style="cursor: pointer; color: black; text-decoration: none;">
                                                <i class="bi bi-paperclip"></i> Attach file
                                            </a>
                                        </div>
                                    </div>
                                    <div id="file-list" class="mt-2"></div>
                                </div>
                                <div class="mb-3">
                                    <label for="ubicacion" class="form-label">Ubicacion:</label>
                                    <div class="row g-3 align-items-center">
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" id="piso" placeholder="Ingrese el piso">
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" id="estante" placeholder="Ingrese el estante">
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" id="file" placeholder="Ingrese el file">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row g-0">
                                        <div class="col-md-6">
                                            <label for="analista" class="form-label">Asignar Analista:</label>
                                            <select class="form-select" id="analista">
                                                <option selected></option>
                                                @foreach (var analistas in ViewBag.Analistas)
                                                {
                                                    <option value="@analistas.IdUsuario">@analistas.Nombres</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 80px;"></div>
                                <!-- Botones -->
                                <div class="row mt-5">
                                    <div class="col-md-8 ms-auto text-end">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <button class="btn btn-primary-dark w-100" id="btnRegistrar" disabled onclick="abrirConfirmacion(event)">Registrar</button>
                                            </div>
                                            <div class="col-md-6">
                                                <button class="btn btn-primary-dark w-100" onclick="window.location.href = '/Solicitudes/Inicio';">Cancelar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>

<!-- Modal de confirmación -->
<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                ¿Desea confirmar el registro del expediente?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="confirmButton">Aceptar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
        $.extend({ MisUrls: { url: {}, urls: function (a) { $.extend($.MisUrls.url, a); } } });

        //CONTROLADOR Solicitudes
        $.MisUrls.urls({ _ObtenerSolicitudes: '@Url.Action("Obtener", "Solicitudes")' });
        $.MisUrls.urls({ _GuardarSolicitud: '@Url.Action("Guardar", "Solicitudes")' });
        $.MisUrls.urls({ _ObtenerSolicitudesPorParametros: '@Url.Action("ObtenerPorExpDoc", "Solicitudes")' });
        $.MisUrls.urls({ _ObtenerSolicitudesColaboradores: '@Url.Action("ObtenerSolicitudesColaborador", "Solicitudes")' });


        //CONTROLADOR DetalleSolicitud
        $.MisUrls.urls({ _ObtenerSolicitud: '@Url.Action("Obtener", "DetalleSolicitud")' });
        $.MisUrls.urls({ _ModificarSolicitudes: '@Url.Action("Modificar", "DetalleSolicitud")' });
        $.MisUrls.urls({ _ModificarSolicitudesDetalle: '@Url.Action("ModificarDetalle", "DetalleSolicitud")' });

        //CONTROLADOR SubSolicituddes

        $.MisUrls.urls({ _ObtenerSubSolicitudes: '@Url.Action("Guardar", "SubSolicitudes")' });
        //lenguaje español datatable
        $.MisUrls.urls({
            Url_datatable_spanish: '@Url.Content("~/content/plugins/datatables/js/datatable_spanish.json")'
        });
</script>

<script>
    var tabladata;
    var tabladata2;
    let selectedFiles = []; 

    $(document).ready(function () {
        var today = new Date().toISOString().split('T')[0];

        // Asignar la fecha actual a los campos de entrada de tipo date
        $('#fechaEmision').val(today);
        $('#fechaRecepcion').val(today);
        $('#fVenInterno').val(today);
        $('#fVenExterno').val(today);

        $('#fechaRecepcion').attr('min', today);

        $(document).ready(function () {
            function checkFields() {
                let allFilled = true;
                $('input, select, textarea').each(function () {
                    if ($(this).attr('id') !== 'file-input' && $(this).attr('id') !== 'analista'   && $(this).val() === '') {
                        allFilled = false;
                        return false;
                    }
                });
                $('#btnRegistrar').prop('disabled', !allFilled);
            }

            $('input, select, textarea').on('input change', checkFields);

            // Llama a la función una vez al cargar la página para establecer el estado inicial del botón
            checkFields();
        });
        tabladata = $('#tbdata').DataTable({
            "ajax": {
                "url": $.MisUrls.url._ObtenerSolicitudes,
                "type": "GET",
                "datatype": "json",
                "dataSrc": "data" // Asegúrate de que DataTables busca los datos en la propiedad "data"
            },
            "columns": [
                { "data": "Titulo", "title": "Nro. Exp" },
                { "data": "NumeroDoc", "title": "Nro. Documento" },
                { "data": "Asunto", "title": "Asunto" },
                {
                    "data": "FechaEventoExterno",
                    "title": "F. Vencimiento Externo",
                    "render": function (data) {
                        return moment(data).format('DD/MM/YYYY'); // Formato de fecha opcional
                    }
                },
                { "data": "AnalistaNombre", "title": "Analista Legal" },
                { "data": "AreaExternaNombre", "title": "Áreas Externas" },
                { "data": "NombreFase", "title": "Fase" },
                { "data": "NombreEstado", "title": "Estado" },
                {
                    "data": null,
                    "render": function (data, type, row) {
                        return "<i class='fas fa-eye' style='cursor:pointer;' onclick='verDetalles(" + JSON.stringify(row) + ", " + roleId + ")'></i>";
                    },
                    "orderable": false,
                    "searchable": false,
                    "width": "50px"
                }

            ],
            "language": {
                "url": $.MisUrls.url.Url_datatable_spanish
            },
            responsive: true
        });

        $('button[data-bs-toggle="tab"]').on('shown.bs.tab', function (e) {
            var target = $(e.target).attr("id"); // Get the id of the activated tab
            var roleSpan = $("#user-role");
            var addNewButton = $("#addNewButton");
            var areasExternas = $("#AreasExternas");

            if (target === "general-tab") {
                roleSpan.text("Analista Legal");
                addNewButton.show();
                areasExternas.hide();
            } else if (target === "areas-tab") {
                roleSpan.text("Colaborador");
                addNewButton.hide();
                areasExternas.show();
            }
        });
        $('#institucion').select2({
            placeholder: 'Seleccione una institución',
            allowClear: true
        });
        
        $('#nroDocumento').on('input', function () {
            var nroDocumento = $(this).val();
            if (nroDocumento) {
                $.ajax({
                    url: '@Url.Action("VerificarNumeroDocumento", "Solicitudes")', // URL del método del controlador
                    type: 'GET',
                    data: { numeroDoc: nroDocumento },
                    success: function (data) {
                        if (data.existe) {
                            $('#nroDocumentoError').show();
                            $('#btnRegistrar').prop('disabled', true);
                        } else {
                            $('#nroDocumentoError').hide();
                            checkFields(); // Revisa si todos los campos están llenos
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            } else {
                $('#nroDocumentoError').hide();
                checkFields(); // Revisa si todos los campos están llenos
            }
        });

    })

    $('#areas-tab').on('shown.bs.tab', function (e) {
        if (!$.fn.DataTable.isDataTable('#tbdata2')) {
            tabladata2 = $('#tbdata2').DataTable({
                "ajax": {
                    "url": $.MisUrls.url._ObtenerSolicitudesColaboradores,
                    "type": "GET",
                    "data": { IdUsuario: id },
                    "datatype": "json",
                    "dataSrc": "data" // Asegúrate de que DataTables busca los datos en la propiedad "data"
                },
                "columns": [
                    { "data": "Titulo", "title": "Nro. Exp" },
                    { "data": "NumeroDoc", "title": "Nro. Documento" },
                    { "data": "Asunto", "title": "Asunto" },
                    {
                        "data": "FechaEventoExterno",
                        "title": "F. Vencimiento Externo",
                        "render": function (data) {
                            return moment(data).format('DD/MM/YYYY'); // Formato de fecha opcional
                        }
                    },
                    { "data": "AnalistaNombre", "title": "Analista Legal" },
                    { "data": "AreaExternaNombre", "title": "Áreas Externas" },
                    { "data": "NombreFase", "title": "Fase" },
                    { "data": "NombreEstado", "title": "Estado" },
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            return "<i class='fas fa-eye' style='cursor:pointer;' onclick='verDetalles(" + JSON.stringify(row) + ", " + roleId + ")'></i>";
                        },
                        "orderable": false,
                        "searchable": false,
                        "width": "50px"
                    }
                ],
                "language": {
                    "url": $.MisUrls.url.Url_datatable_spanish
                },
                responsive: true
            });
        }
    });
    $('#customSearchBox').on('input', function () {
        var activeTab = $('#myTab .nav-link.active').attr('id');
        if (activeTab === 'general-tab') {
            tabladata.search(this.value).draw();
        } else if (activeTab === 'areas-tab') {
            tabladata2.search(this.value).draw();
        }
    });

    function abrirPopUpForm(json) {

        //$("#txtid").val(0);

        if (json != null) {

            $("#nroDocumento").val(json.NumeroDoc);
            $("#asunto").val(json.Asunto);
            $("#referencia").val(json.Referencia);
            $("#empresa").val(json.NombreEmpresa);
            $("#tipoDoc").val(json.TipoDoc);
            $("#formato").val(json.NombreFormato);
            $("#institucion").val(json.NombreInstitucion);
            $("#proyecto").val(json.NombreProyecto);
            $("#plazo").val(json.PlazoAtc);
            $("#penalidad").val(json.Penalidad);
            $("#fechaEmision").val(json.FechaEmision);
            $("#fechaRecepcion").val(json.FechaRecepcion);
            $("#fVenInterno").val(json.FechaVencInterno);
            $("#fVenExterno").val(json.FechaEventoExterno);
            $("#piso").val(json.Piso);
            $("#estante").val(json.Estante);
            $("#file").val(json.File);
            $("#analista").val(json.AnalistaNombre);


        } else {
            // Restablecer valores por defecto
            $("#nroDocumento").val("");
            $("#asunto").val("");
            $("#referencia").val("");
            $("#empresa").val($("#empresa option:first").val());
            $("#tipoDoc").val($("#tipoDoc option:first").val());
            $("#formato").val($("#formato option:first").val());
            $("#institucion").val($("#institucion option:first").val());
            $("#proyecto").val($("#proyecto option:first").val());
            $("#plazo").val("");
            $("#penalidad").val("");
            $("#fechaEmision").val("");
            $("#fechaRecepcion").val("");
            $("#fVenInterno").val("");
            $("#fVenExterno").val("");
            $("#piso").val("");
            $("#estante").val("");
            $("#file").val("");
            $("#analista").val($("#analista option:first").val());
        }

        $('#FormModal').modal('show');

    }

    function Guardar() {

        console.log("Validando...");

        var formData = new FormData();
        formData.append("NumeroDoc", $("#nroDocumento").val());
        formData.append("Asunto", $("#asunto").val());
        formData.append("Referencia", $("#referencia").val());
        formData.append("NombreEmpresa", $("#empresa option:selected").text());
        formData.append("NombreFormato", $("#formato option:selected").text());
        formData.append("NombreProyecto", $("#proyecto option:selected").text());
        formData.append("Penalidad", $("#penalidad").val());
        formData.append("NombreInstitucion", $("#institucion option:selected").text());
        formData.append("TipoDoc", $("#tipoDoc option:selected").text());
        formData.append("PlazoAtc", $("#plazo").val());
        formData.append("FechaVencInterno", $("#fVenInterno").val());
        formData.append("FechaEventoExterno", $("#fVenExterno").val());
        formData.append("FechaEmision", $("#fechaEmision").val());
        formData.append("FechaRecepcion", $("#fechaRecepcion").val());
        formData.append("Piso", $("#piso").val());
        formData.append("Estante", $("#estante").val());
        formData.append("File", $("#file").val());
        formData.append("AnalistaNombre", $("#analista option:selected").text());
        
        //console.log(request);

        // Añadir archivos al FormData
        const files = $('#file-input')[0].files;
        for (let i = 0; i < selectedFiles.length; i++) {
            formData.append("Archivos[" + i + "]", selectedFiles[i]);
            formData.append("NombresArchivos[" + i + "]", selectedFiles[i].name);
            formData.append("ContentTypes[" + i + "]", selectedFiles[i].type);
        }
        // Mostrar los valores del FormData en la consola
        for (var pair of formData.entries()) {
            console.log(pair[0] + ': ' + pair[1]);
        }
        // Imprimir el nombre del segundo archivo si existe
        if (selectedFiles.length > 1) {
            console.log("Nombre del segundo archivo: " + selectedFiles[1].name);
        } else {
            console.log("No hay un segundo archivo.");
        }

        jQuery.ajax({
            url: $.MisUrls.url._GuardarSolicitud,
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            success: function (data) {
                if (data.OperacionExitosa) {
                    console.log("123");
                    tabladata.ajax.reload();
                    $('#FormModal').modal('hide');
                    window.location.href = '/Solicitudes/Inicio';
                } else {
                    Swal.fire("Mensaje", "No se pudo guardar los cambios", "warning");
                }
            },
            error: function (error) {
                console.log(error);
            },
            beforeSend: function () {
                // agregar lógica aquí si necesitas hacer algo antes de enviar la solicitud
            }
        });

    }


    function verDetalles(solicitud, roleId) {
        let url;
        let activeTab = $('#myTab .nav-link.active').attr('id');

        if (activeTab === 'areas-tab') {
            url = '/VistaColaborador/DetalleRespuesta?numeroDoc=' + encodeURIComponent(solicitud.NumeroDoc);
        } else {
            if (solicitud.NombreFase == 'Registrado') {
                url = '/DetalleSolicitud/VerDetalles?numeroDoc=' + encodeURIComponent(solicitud.NumeroDoc);
            } else if (solicitud.NombreFase == 'Rechazado') {
                url = '/Solicitudes/Inicio';
            } else {
                url = '/DetalleSolicitud/VerDetalles2?numeroDoc=' + encodeURIComponent(solicitud.NumeroDoc);
            }
        }
        window.location.href = url;
    }
    function abrirConfirmacion(event) {
        event.preventDefault(); // Evita el envío del formulario por defecto
        $('#confirmModal').modal('show'); // Abre el modal de confirmación
    }
    $('#confirmButton').click(function () {
        $('#confirmModal').modal('hide'); // Cierra el modal
        Guardar(); // Llama a la función Guardar
    });



    $(document).ready(function () {

        // Abrir el selector de archivos al hacer clic en el enlace "Attach file"
        $('#attach-file').click(function () {
            $('#file-input').click();
        });

        // Manejar la selección de archivos
        $('#file-input').change(function () {
            const files = $(this)[0].files;
            const fileList = $('#file-list');
            fileList.empty();
            //selectedFiles = [];

            for (let i = 0; i < files.length; i++) {
                selectedFiles.push(files[i]);
            }
            
            for (let i = 0; i < selectedFiles.length; i++) {
            console.log("Archivo " + (i + 1) + ": " + selectedFiles[i].name + ", ContentType: " + selectedFiles[i].type);
            }


            if (selectedFiles.length > 0) {
                $('#file-status').text(selectedFiles.length + ' file(s) attached.');
                for (let i = 0; i < selectedFiles.length; i++) {
                    const file = selectedFiles[i];
                    const fileItem = $('<div class="file-item"></div>').text(file.name);
                    const removeButton = $('<button class="btn btn-sm btn-danger ms-2">Remove</button>').click(function () {
                        removeFile(i);
                    });
                    fileItem.append(removeButton);
                    fileList.append(fileItem);
                }
            } else {
                $('#file-status').text('There is nothing attached.');
            }
        });

        // Función para eliminar un archivo de la lista
        function removeFile(index) {
            selectedFiles.splice(index, 1);
            const fileList = $('#file-list');
            fileList.empty();

            if (selectedFiles.length > 0) {
                $('#file-status').text(selectedFiles.length + ' file(s) attached.');
                for (let i = 0; i < selectedFiles.length; i++) {
                    const file = selectedFiles[i];
                    const fileItem = $('<div class="file-item"></div>').text(file.name);
                    const removeButton = $('<button class="btn btn-sm btn-danger ms-2">Remove</button>').click(function () {
                        removeFile(i);
                    });
                    fileItem.append(removeButton);
                    fileList.append(fileItem);
                }
            } else {
                $('#file-status').text('There is nothing attached.');
            }
        }
        
        // Evento submit del formulario
        $('#solicitudForm').submit(function (event) {
            event.preventDefault(); // Evita el envío del formulario por defecto
        });
    });
</script>
